<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div class = "avatar">
        <app-avatar></app-avatar>
      </div>
    </mat-toolbar>
    <mat-nav-list>
      
      <a mat-list-item routerLink="/navigate/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/navigate/watchlist">Watchlist</a>
      <a mat-list-item routerLink="/navigate/setting">Settings</a>
      <a mat-list-item routerLink="/navigate/bankdashboard">Bank</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
</button>
    <!-- <mat-toolbar class = "title-app"> -->
     
    <!-- </mat-toolbar> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
