<div class="row row-no-gutters" style="margin-left: 0%; margin-right: 0; ">
    <!-- border-right: 2px black solid; -->
    <div class="col-sm-4" style=" padding:0; margin-right: 0%; margin-bottom: 6%;">
      <app-leftpanel></app-leftpanel>
      
    </div>
    
    <!-- background-image: url('/assets/images/Hero.png'); background-size: 100% 80%; background-repeat: no-repeat;" -->
    <div class="col-sm-8" style=" padding:0;margin-right: 0%;border-left: 2px  black solid;">
      <router-outlet></router-outlet>
    </div>
  </div>
