h1{
    text-align: center;
    font-size: 2rem;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    font-size: 1rem;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .gainer{
      background-color: rgb(136, 201, 153);
  }
  .loser{
      background-color: rgb(255, 153, 153);
  }