
<div class="container bootdey">
    <div class="profile-page">
        <div class="page-header header-filter" data-parallax="active" style="transform: translate3d(0px, 0px, 0px); background-image: url(https://bootdey.com/img/Content/bg1.jpg);"></div>   
        <div class="main main-raised">
          <div class="profile-content">
                <div class="container">
        
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                         <div class="profile">
                                <div class="avatar">
                                    <img src="https://pbs.twimg.com/profile_images/787106179482869760/CwwG2e2M_400x400.jpg" alt="Circle Image" class="img-circle img-responsive img-raised">
                                </div>
                                <div class="name">
                                    <h2 class="title">{{Name}}</h2>
                                    <button class="btn" mat-button (click)="onSubmit()" >Edit profile</button>
    
                                        <router-outlet></router-outlet>
                                        
                                
                      
                      <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
                                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-pinterest"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div>
                      </div>
                        <div class="col-xs-2 follow"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>