<footer class="row" style="width: 100%; background-color: bisque; margin-top: 5vh; margin: 0;">
    <div class="col-md-4 box">
        <a href="#" class="title" style=" font-size: 2rem; color: purple;">Who we are</a>
        <br>

        <img src="/assets/images/f1.jpeg" alt="">

        <a href="#" class="data" style="display: block;  color: purple;">Board of Directors</a>
        <a href="#" class="data" style="display: block; ; color: purple;">Executive management</a>
        <a href="#" class="data" style="display: block;  color: purple;">Contact us</a>
    </div>
    <div class="col-md-4 box">
        <a href="#" class="title" style="font-size: 2rem; color: purple;">Investor Relations</a>
        <br>

        <img src="/assets/images/f2.jpeg" alt="">



        <a href="#" class="data" style="display: block; ; color: purple;">Results centre</a>
        <a href="#" class="data" style="display: block;  color: purple;">Annual report</a>
    </div>
    <div class="col-md-4 box">
        <a href="#" class="title" style="font-size: 2rem; color: purple;">Careers</a>
        <br>

        <img src="/assets/images/f3.jpeg" alt="">



        <a href="#" class="data" style="display: block;  color: purple;">Careers at NatWest Group</a>
    </div>
</footer>
<!-- <div class="column">
    <div class="col-sm-12 col-6 " style="background-color: black;">1</div>
    <div class="col-sm-12 col-6 " style="background-color: red;">2</div>
</div> -->